# Fichier généré par Ansible - Ne pas modifier manuellement
# Permet à l'utilisateur {{ sudo_user }} et aux groupes admin et sudo d'utiliser sudo sans mot de passe

{{ sudo_user }} ALL=(ALL) NOPASSWD: ALL
%admin ALL=(ALL) NOPASSWD: ALL
%sudo ALL=(ALL) NOPASSWD: ALL
